@import '@amar-ui-web/color/scss/variables';

.HomePage {
  &-hero {
    position: relative;
    overflow: hidden;
    color: amb-color-theme('light');
    background-color: amb-color-theme('dark', 85);
    padding: 10em 0;
  }

  &-hero & {
    &-heroBgImage {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right;
      opacity: 0.5;
    }
  }
}
