@import '@amar-ui-web/typography/scss';
@import './variables';

@mixin amb-create-icon-classes() {
  .Icon {
    @include amb-append-icon-core-styles();
    @include amb-create-icon-size-variants();
  }
}

@mixin amb-append-icon-core-styles() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin amb-create-icon-size-variants() {
  @each $size-name, $size-value in $amb-icon-size-map {
    &--#{$size-name} {
      height: $size-value;
      width: $size-value;
    }
  }
}
