@import '@tunaiku-ui/spacing/scss/variables';
@import '@tunaiku-ui/typography/scss/variables';

/// Initial entrypoint mixin to create base Field class.
///
@mixin tnk-create-field-classes() {
  .Field {
    @include tnk-field-base-styles();
    @include tnk-append-field-label();
    @include tnk-append-field-helper();

    > *:not(:last-child) {
      margin-bottom: tnk-spacing('3xsmall');
    }
  }
}

/// Basic styles for field component
///
@mixin tnk-field-base-styles() {
  display: flex;
  flex-direction: column;
}

@mixin tnk-append-field-label() {
  &-label {
    // to reset initial 'display: block' style if tag is label.
    display: flex;

    font-size: tnk-font-size('base');
    font-weight: tnk-font-weight('semibold');
  }
}

@mixin tnk-append-field-helper() {
  &-helper {
    font-size: tnk-font-size('small');
    color: tnk-color-theme('darker');
  }
}
