@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';

$amb-stepper-border-radius: 50%;
$amb-stepper-z-index: 40;

$amb-stepper-height: 60px;
$amb-stepper-width: 60px;

$amb-stepper-inner-text-align: center;
