@import '@tunaiku-ui/spacing/scss/mixins';
@import '@tunaiku-ui/color/scss/mixins';
@import '@tunaiku-ui/typography/scss/mixins';

// Temporary variables

@mixin tnk-create-tabs-classes() {
  .Tabs {
    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: tnk-color-theme-shade('neutral', 80);
      font-weight: tnk-font-weight('medium');
      transition: all 100ms ease-in;
      padding: tnk-spacing('base');
      cursor: pointer;
      outline: none;

      &.is-active {
        color: tnk-color-theme('secondary');
        border-bottom: solid 2px tnk-color-theme('secondary');
      }

      &:hover,
      &:focus {
        background-color: tnk-color-theme-opacity('secondary', 0.1);
        outline: none;
      }

      &:active {
        background-color: tnk-color-theme-opacity('secondary', 0.2);
        outline: none;
      }
    }
  }
}
