@import '@amar-ui-web/responsive/scss/mixins';
@import './variables';

/// Generates Container class and its underlying variants and parts.
///
@mixin amb-create-container-classes() {
  .Container {
    @include amb-add-container-base-styles();
    @include amb-append-container-modifiers();
    @include amb-container-responsive();
  }
}

@mixin amb-add-container-base-styles() {
  position: relative;
  margin: 0 auto;
  padding: 0 $amb-container-spacing;
  width: 100%;

  // Helps in smoothing out the transition of elements inside Container class in case
  // users try to resize browser's resolution.
  transition: all 250ms ease-in-out;
}

/// Generate variant classes for Container by appending some modifiers.
///
@mixin amb-append-container-modifiers() {
  &--fullWidth {
    max-width: none;
    width: 100%;
  }
}

/// Turn Container into responsive media class where it resizes on different breakpoints to
/// achieve responsiveness.
@mixin amb-container-responsive() {
  @each $breakpoint-name, $breakpoint-width in $amb-container-widths {
    @include amb-responsive-media($breakpoint-name) {
      max-width: $breakpoint-width;
    }
  }
}
