@import '@amar-ui-web/color/scss';
@import '@amar-ui-web/spacing/scss';
@import '@amar-ui-web/shape/scss';
@import './variables';

@mixin amb-create-checkbox-classes() {
  .Checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    > *:not(:first-child) {
      margin-left: amb-spacing('small');
    }

    &-control {
      position: relative;
      appearance: none;
      height: $amb-checkbox-height;
      width: $amb-checkbox-width;
      border: solid 2px amb-neutral(60);
      border-radius: amb-border-radius('base');
      background-color: transparent;
      transition: all 100ms ease-in-out;
      outline: none;
      cursor: pointer;

      &:after {
        content: '';
        transition: all 100ms ease-out;
        position: absolute;
        top: 50%;
        left: 50%;
        border: solid 2px $white;
        border-top: none;
        border-left: none;
        height: 12px;
        width: 6px;
        line-height: 0;
        transform: translate(-50%, -60%) rotate(45deg) scale(0.5);
        transform-origin: center center;
        opacity: 0;
        font-weight: bold;
      }

      &:checked,
      &.is-checked {
        background-color: amb-color-theme('primary');
        border-color: amb-color-theme('primary');

        &:after {
          transform: translate(-50%, -60%) rotate(45deg) scale(1);
          opacity: 1;
        }
      }

      &:focus,
      &.is-focused {
        box-shadow: $amb-checkbox-focused-box-shadow;
      }

      &:active,
      &.is-active {
        box-shadow: $amb-checkbox-focused-box-shadow;
      }

      &.is-indeterminate {
        &:after {
          content: '';
          transition: all 100ms ease-out;
          position: absolute;
          top: 50%;
          left: 50%;
          height: 0;
          width: 80%;
          border-bottom: solid 3px white;
          transform: translate(-50%, -50%);
        }
      }
    }

    &-label {
      color: amb-color-theme('dark');
      cursor: pointer;
    }
  }
}
