@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/color/scss/variables';

.Navbar {
  display: flex;

  &-item {
    display: flex;
    align-items: center;

    > a {
      display: flex;
      align-items: center;
      height: 100%;
      color: amb-color-theme('neutral', 50);
      padding-left: amb-spacing('base');
      padding-right: amb-spacing('base');
      font-weight: amb-font-weight('medium');
      text-decoration: none;
      transition: all 150ms ease-in-out;

      &.is-active {
        position: relative;
        font-weight: amb-font-weight('semibold');
        color: $white;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border-bottom: solid 3px $white;
        }
      }
    }

    &:hover {
      > a {
        color: amb-color-theme('neutral', 25);
      }
    }
  }
}
