@import '@amar-ui-web/color/scss';
@import './variables';

@mixin amb-create-card-classes() {
  .Card {
    @include amb-card-base-styles();
    @include amb-create-card-parts();
    @include amb-create-card-modifiers();
  }
}

@mixin amb-card-base-styles() {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $amb-card-padding;
  color: $amb-card-fg-color;
  background-color: $amb-card-bg-color;
  border-radius: $amb-card-border-radius;
  border-style: $amb-card-border-style;
  border-color: $amb-card-border-color;
  border-width: $amb-card-border-width;
}

@mixin amb-create-card-parts() {
  &-title {
    padding-bottom: amb-spacing('base');
  }

  &-footer {
    padding-top: amb-spacing('medium');
  }
}

@mixin amb-create-card-modifiers() {
  &--elevated {
    // @include amb-create-elevation($level: 3, $opacity: 0.15);  // TODO: ganti jadi box-shadow sesuai fixing zeroheight
    box-shadow: $amb-card-elevation;
  }

  &--borderless {
    border: none;
  }
}
