@import '@amar-ui-web/color/scss/variables';
@import './variables';

@mixin amb-create-card-classes() {
  .Card {
    @include amb-card-base-styles();
    @include amb-append-card-parts();
    @include amb-append-card-elevated-variant();
  }
}

@mixin amb-card-base-styles() {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: $amb-card-fg-color;
  background-color: $amb-card-bg-color;
  border-radius: $amb-card-border-radius;
  border-style: $amb-card-border-style;
  border-color: $amb-card-border-color;
  border-width: $amb-card-border-width;
}

@mixin amb-append-card-parts() {
  &-block {
    padding: $amb-card-padding;
  }

  &-title,
  &-body,
  &-footer {
    padding: $amb-card-padding;
  }
}

@mixin amb-append-card-elevated-variant() {
  &--elevated {
    @include amb-create-elevation(
      $level: $amb-card-elevation-level,
      $opacity: $amb-card-elevation-opacity
    );
  }
}
