@import '@amar-ui-web/color/scss/variables';
@import './variables';

@mixin tnk-create-card-classes() {
  .Card {
    @include tnk-card-base-styles();
    @include tnk-append-card-parts();
    @include tnk-append-card-elevated-variant();
  }
}

@mixin tnk-card-base-styles() {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: $amb-card-fg-color;
  background-color: $amb-card-bg-color;
  border-radius: $amb-card-border-radius;
  border-style: $amb-card-border-style;
  border-color: $amb-card-border-color;
  border-width: $amb-card-border-width;
}

@mixin tnk-append-card-parts() {
  &-block {
    padding: $amb-card-padding;
  }

  &-title,
  &-body,
  &-footer {
    padding: $amb-card-padding;
  }

  // &-media {
  //   position: relative;
  //   height: $amb-card-media-height;
  //   min-height: $amb-card-media-height;

  //   > img {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100%;
  //     object-fit: cover;
  //     object-position: center;
  //   }
  // }
}

@mixin tnk-append-card-elevated-variant() {
  &--elevated {
    @include tnk-create-elevation(
      $level: $amb-card-elevation-level,
      $opacity: $amb-card-elevation-opacity
    );
  }
}
