@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/shape/scss/variables';

$amb-card-padding: tnk-spacing('base');

$amb-card-bg-color: $white;
$amb-card-fg-color: tnk-color-contrast($amb-card-bg-color);

$amb-card-border-style: solid;
$amb-card-border-width: 1px;
$amb-card-border-color: $light;
$amb-card-border-radius: tnk-border-radius('xlarge');

$amb-card-elevation-level: 1 !default;
$amb-card-elevation-opacity: 0.1 !default;
