@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';

/// Generate bottom bar classes
///
@mixin amb-create-bottom-bar-classes() {
  .BottomBar {
    &-menu {
      display: flex;
      flex-direction: row;

      min-height: 4em;
      background-color: $white;

      // Reset default list style in case this is applied with ul tag.
      list-style: none;
    }

    &-menuItem {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;

      font-size: amb-font-size('xsmall');
      color: amb-color-theme('dark');

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        padding: amb-spacing('base') 0;

        // Reset default link styles.
        color: inherit;
        text-decoration: none;
      }

      &:hover,
      &.is-active {
        color: amb-color-theme('primary');
        transition: all 250ms ease-in-out;
      }

      &.is-active {
        font-size: amb-font-size('small');
      }
    }
  }
}
