@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/shape/scss/variables';

.Markdown {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: tnk-spacing('3xlarge');
    margin-bottom: tnk-spacing('large');
    font-weight: tnk-font-weight('medium');
  }

  > p {
    margin: tnk-spacing('base') 0;
  }

  > ul {
    list-style-type: initial;
    padding-left: tnk-spacing('2xlarge');
  }

  code {
    background-color: tnk-color-theme-opacity('primary', 0.2);
    padding: 1px 3px;
    border-radius: tnk-border-radius('base');
  }
}
