@import '@amar-ui-web/shape/scss';
@import '@amar-ui-web/color/scss';

$amb-tips-border-color: #d3ca63;
$amb-tips-border: solid 1px $amb-tips-border-color;
$amb-tips-border-radius: amb-border-radius('base');
$amb-tips-background-color: amb-color-accent('lightyellow');
$amb-tips-link-color: amb-color-theme('secondary');
