@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/shape/scss/variables';
@import '@amar-ui-web/responsive/scss/mixins';
@import '@amar-ui-web/color/scss/variables';

$code-preview-border-radius: amb-border-radius('xlarge');

.CodePreview {
  > * {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $code-preview-border-radius;
      border-top-right-radius: $code-preview-border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: $code-preview-border-radius;
      border-bottom-right-radius: $code-preview-border-radius;
    }
  }

  &-display {
    padding: amb-spacing('base');
    border: solid 1px amb-color-theme('light');
    overflow: hidden;

    @include amb-responsive-media('lg') {
      padding: amb-spacing('xlarge');
    }

    &--compact {
      padding-left: amb-spacing('large');
      padding-right: amb-spacing('large');

      @include amb-responsive-media('lg') {
        padding-left: 10em !important;
        padding-right: 10em !important;
      }
    }
  }

  &-codeBlock {
    margin: 0;
    overflow: auto;
  }
}
