@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';

@mixin amb-create-field-classes() {
  .Field {
    @include amb-field-base-styles();
    @include amb-append-field-label();
    @include amb-append-field-helper();

    > *:not(:last-child) {
      margin-bottom: amb-spacing('3xsmall');
    }
  }
}

@mixin amb-field-base-styles() {
  display: flex;
  flex-direction: column;
}

@mixin amb-append-field-label() {
  &-label {
    // to reset initial 'display: block' style if tag is label.
    display: flex;

    font-size: amb-font-size('small');
    font-weight: amb-font-weight('semibold');
  }
}

@mixin amb-append-field-helper() {
  &-helper {
    display: flex;
    justify-content: space-between;
    font-size: amb-font-size('xsmall');
    color: amb-color-theme('darker');
  }
}
