@import '@amar-ui-web/spacing/scss';
@import '@amar-ui-web/typography/scss';
@import '@amar-ui-web/color/scss';

/// Initial entrypoint mixin to create base Field class.
///
@mixin amb-create-field-classes() {
  .Field {
    @include amb-field-base-styles();
    @include amb-append-field-label();
    @include amb-append-field-helper();

    > *:not(:last-child) {
      margin-bottom: amb-spacing('3xsmall');
    }
  }
}

/// Basic styles for field component
///
@mixin amb-field-base-styles() {
  display: flex;
  flex-direction: column;
}

@mixin amb-append-field-label() {
  &-label {
    // to reset initial 'display: block' style if tag is label.
    display: flex;

    font-size: amb-font-size('small');
    font-weight: amb-font-weight('semibold');
  }
}

@mixin amb-append-field-helper() {
  &-helper {
    // TO-DO: Convert into typography style caption12.
    font-size: amb-font-size('xsmall');
    color: amb-color-theme('darker');
  }
}
