@import '@tunaiku-ui/shape/scss/variables';
@import '@tunaiku-ui/typography/scss/variables';

$tnk-input-font-size: $tnk-font-size !default;
$tnk-input-font-family: tnk-font-family('sans-serif') !default;

$tnk-input-bg-color: $white !default;
$tnk-input-fg-color: tnk-color-contrast($tnk-input-bg-color) !default;

$tnk-input-border-style: solid !default;
$tnk-input-border-width: 1px !default;
$tnk-input-border-color: tnk-color-theme-shade('neutral', 60) !default;
$tnk-input-border-radius: tnk-border-radius('base') !default;

$tnk-input-spacing-y: tnk-spacing('xsmall') !default;
$tnk-input-spacing-x: tnk-spacing('base') !default;
$tnk-input-spacing: $tnk-input-spacing-y $tnk-input-spacing-x;

$tnk-input-line-height: $tnk-line-height !default;

$tnk-input-transition: all 250ms ease-in-out;

$tnk-input-hovered-border-color: tnk-color-theme('primary');
$tnk-input-focused-border-color: tnk-color-theme('primary');

$tnk-input-focused-box-shadow-offset-y: 0 !default;
$tnk-input-focused-box-shadow-offset-x: 0 !default;
$tnk-input-focused-box-shadow-offsets: $tnk-input-focused-box-shadow-offset-y
  $tnk-input-focused-box-shadow-offset-x !default;

$tnk-input-focused-box-shadow-blur: 0 !default;
$tnk-input-focused-box-shadow-spread: 3px !default;
$tnk-input-focused-box-shadow-color: tnk-color-theme-opacity(primary, 0.3);
$tnk-input-focused-box-shadow-values: $tnk-input-focused-box-shadow-offsets
  ($tnk-input-focused-box-shadow-blur) ($tnk-input-focused-box-shadow-spread) !default;

$tnk-input-focused-box-shadow: $tnk-input-focused-box-shadow-values
  ($tnk-input-focused-box-shadow-color) !default;

$tnk-input-disabled-background: tnk-color-theme('lighter');

$tnk-input-rounded-border-radius: tnk-border-radius('base');
