@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';

@mixin amb-create-bottom-sheet-classes() {
  .BottomSheet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;

    &-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 902;
    }

    &-dialog {
      display: flex;
      flex-direction: column;
      min-height: 20em;

      background-color: $white;
      border-top-right-radius: amb-border-radius('3xlarge');
      border-top-left-radius: amb-border-radius('3xlarge');
    }

    &-block {
      padding: amb-spacing('base');
    }

    &-backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: amb-color-theme-opacity('dark', 0.3);
      z-index: 901;
    }
  }
}
