@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';

@mixin amb-create-bottom-sheet-classes() {
  .BottomSheet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;

    &-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 902;
    }

    &-dialog {
      display: flex;
      flex-direction: column;

      background-color: $white;
      border-top-right-radius: amb-border-radius('3xlarge');
      border-top-left-radius: amb-border-radius('3xlarge');

      > *:first-child {
        padding-top: amb-spacing('base');
      }

      > *:last-child {
        padding-bottom: amb-spacing('base');
      }
    }

    &-media {
      display: flex;
      justify-content: center;
      padding-left: amb-spacing('base');
      padding-right: amb-spacing('base');

      > img {
        width: 100%;
      }
    }

    &-body {
      padding-left: amb-spacing('base');
      padding-right: amb-spacing('base');
    }

    &-title {
      @include amb-typography-style('heading20');
    }

    &-backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: amb-color-theme-opacity('dark', 0.3);
      z-index: 901;
    }
  }
}
