@import '@amar-ui-web/core/helpers';

$amb-flex-directions: (
  'row': row,
  'column': column,
);

$amb-alignment-axes: ('align', 'justify');
$amb-alignment-types: (
  'items': (
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'stretch': stretch,
    'baseline': baseline,
    'left': left,
    'right': right,
  ),
  'content': (
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'baseline': baseline,
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly,
    'stretch': stretch,
  ),
);
