@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/shape/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/elevation/scss/variables';

@mixin amb-create-snackbar-component() {
  .Snackbar {
    @include amb-include-snackbar-styles();
    @include amb-append-snackbar-dialog();
    @include amb-append-snackbar-parts();
  }
}

@mixin amb-include-snackbar-styles() {
  position: fixed;
}

@mixin amb-append-snackbar-dialog() {
  &-dialog {
    display: flex;
    justify-content: space-between;
    background-color: rgba(black, 0.7);
    color: amb-color-theme('lighter');
    border-radius: amb-border-radius('base');
    padding-right: amb-spacing('2xsmall');

    @include amb-append-snackbar-dialog-variants();
  }
}

@mixin amb-append-snackbar-parts() {
  &-text {
    padding: amb-spacing('base');
    flex-grow: 1;
  }

  &-action {
    padding: amb-spacing('base');
    color: amb-color-theme('primary');
    font-weight: amb-font-weight('bold');
    letter-spacing: amb-letter-spacing('xloose');
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

@mixin amb-append-snackbar-dialog-variants() {
  &--elevated {
    @include amb-create-elevation($level: 3, $opacity: 0.3);
  }

  &--long {
    display: flex;
    flex-direction: column;

    .Snackbar-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
