@import '@amar-ui-web/spacing/scss/functions';

// Changing this value will change the amount of .Grid-* that will be generated on build.
// Avoid changing this value to prevent any undesirable side-effects.
$amb-grid-columns: 12 !default;

$amb-grid-gap-gutter: amb-spacing('base') !default;
