// $violet-blue: #4f77ef !default;
// $jaffa: #e58139 !default;

$limeade: #48a800;
$blue-ribbon: #005fff;

$trinidad: #e54206 !default;
$mountain-meadow: #18b247 !default;
$maximum-green-yellow: #e2ed49 !default;
$medium-vermillion: #d86141 !default;
$cello: #1c415b !default;
$deep-cerulean: #007ea7 !default;
$pelorous: #45a1bf !default;
$sirocco: #6d7a7d !default;
