/// Utility functions to generate different shades of the given color.
///
/// @param {Number} $color
/// @param {String} $percentage
///
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/// Returns the color value of the given color theme.
///
/// @param {String} $color-theme
/// @example tnk-color-theme("primary")
///
@function tnk-color-theme($color-theme) {
  @if not map-has-key($tnk-color-themes, $color-theme) {
    @error "The theme '#{$color-theme}' is not found in '$tnk-color-themes' variable map!";
  }

  @return map-get($tnk-color-themes, $color-theme);
}

/// Returns a different shade of the given color value.
///
/// @param {Number} $color-value
/// @example tnk-color-shade(#abc123, 50)
///
@function tnk-color-shade($color-value, $shade-level: 50) {
  // returns the absolute value of $shade-level and round it to the nearest multiplication of 10.
  @if $shade-level > 100 or $shade-level < 0 {
    @error "$shade-level value cannot exceed 100 or less than 0!";
  }

  @if $shade-level > 50 {
    $shade-percentage: ($shade-level - 50) * 2%;
    @return shade($color-value, $shade-percentage);
  } @else {
    $shade-percentage: (50 - $shade-level) * 2%;
    @return tint($color-value, $shade-percentage);
  }
}

/// The shorthand version of tnk-color-theme and tnk-color-shade functions.
///
/// Gets the color value from the given color theme (e.g primary) and returns a different shade variant
/// of the color value using the tinter shader function of the specified shade level.
///
/// Color theme should be available in $tnk-color-themes variable map, otherwise it will return an error.
///
/// e.g: tnk-color-theme-shade("primary", 50)
///
/// @param {String} $color-theme
/// @param {Number} $shade-level
///
@function tnk-color-theme-shade($color-theme, $shade-level: 50) {
  $color-value: tnk-color-theme($color-theme);

  @return tnk-color-shade($color-value, $shade-level);
}

/// A shorthand function to get a specific opacity level of the selected color theme.
/// This will also return an rgba value instead of raw hex value.
///
/// @param {String} $color-theme
/// @param {Number} $opacity-level
/// @example tnk-color-theme-opacity("primary", 0.9)
///
@function tnk-color-theme-opacity($color-theme, $opacity-level: 1) {
  $color-value: tnk-color-theme($color-theme);
  @return rgba($color-value, $opacity-level);
}

/// Returns an accessible contrasting color against the given color value.
///
/// @param {Number} $color
/// @todo This function has the literal computations as Bootstrap's. Create our own custom
/// function to determine color contrast of the given $color value.
///
@function tnk-color-contrast($color) {
  $color-contrast-threshold: 200;
  $color-contrast-dark-text: $darker;
  $color-contrast-light-text: $lighter;

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $yiq: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;

  @return if($yiq >= $color-contrast-threshold, $darker, $lighter);
}

@function tnk-color-theme-contrast($color-theme) {
  @if not map-has-key($tnk-color-themes, $color-theme) {
    @error "The theme '#{$color-theme}' is not found in '$tnk-color-themes' variable map!";
  }

  $color-value: tnk-color-theme($color-theme);
  @return tnk-color-contrast($color-value);
}
