@import './color-palletes';
@import './functions';

/// Color themes
///
$primary-color: $limeade !default;
$secondary-color: $blue-ribbon !default;
$tertiary-color: $trinidad !default;
$success-color: $green !default;
$danger-color: $red !default;
$warning-color: $yellow !default;
$info-color: $blue !default;
$neutral-color: $gray !default;

/// Shades of Neutrals
///
$neutral-10: tint($neutral-color, 80%);
$neutral-20: tint($neutral-color, 60%);
$neutral-30: tint($neutral-color, 40%);
$neutral-40: tint($neutral-color, 20%);
$neutral-50: $neutral-color;
$neutral-60: shade($neutral-color, 20%);
$neutral-70: shade($neutral-color, 40%);
$neutral-80: shade($neutral-color, 60%);
$neutral-90: shade($neutral-color, 80%);

$tnk-color-themes: () !default;
$tnk-color-themes: map-merge(
  (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'tertiary': $tertiary-color,
    'success': $success-color,
    'warning': $warning-color,
    'danger': $danger-color,
    'info': $info-color,
    'neutral': $neutral-color,
    'light': $neutral-30,
    'lighter': $neutral-10,
    'dark': $neutral-80,
    'darker': $neutral-90,
    'black': #000000,
    'white': #ffffff,
  ),
  $tnk-color-themes
);

// Neutrals
$black: #000000;
$white: #ffffff;
$light: tnk-color-theme('light');
$lighter: tnk-color-theme('lighter');
$dark: tnk-color-theme('dark');
$darker: tnk-color-theme('darker');
