@import '@amar-web-ui/spacing/scss/variables';
@import '@amar-web-ui/color/scss/variables';
@import '@amar-web-ui/typography/scss/variables';
@import '@amar-web-ui/shape/scss/variables';

.DocsMenu {
  display: flex;
  flex-direction: column;
  padding-left: tnk-spacing('base');

  &-header {
    height: 1.5em;
  }

  &-nav {
    display: flex;
    flex-direction: column;
  }

  &-nav & {
    &-navItem {
      color: tnk-color-theme-shade('neutral', 80);
      border-top-left-radius: tnk-border-radius('base');
      border-bottom-left-radius: tnk-border-radius('base');
      overflow: hidden;

      > a {
        display: flex;
        text-decoration: none;
        padding: tnk-spacing('base');
        transition: all 100ms ease-in-out;
        color: inherit;

        &:hover {
          color: tnk-color-theme('primary');
          font-weight: tnk-font-weight('medium');
          background-color: tnk-color-theme-shade('primary', 5);
        }
      }

      > .DocsMenu-nav {
        padding-left: tnk-spacing('small');
      }

      &.is-active {
        background-color: tnk-color-theme-shade('primary', 3);

        > a {
          color: tnk-color-theme('primary');
          font-weight: tnk-font-weight('semibold');
        }
      }
    }
  }
}
