@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/elevation/scss/mixins';

.MainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: tnk-color-theme('darker');
  color: tnk-color-contrast(tnk-color-theme('darker'));
  z-index: 1;

  height: 5em;
  font-weight: tnk-font-weight('medium');
  padding-left: tnk-spacing('base');
  padding-right: tnk-spacing('base');

  @include tnk-create-elevation();

  // Main Brand
  &-brand {
    display: flex;
    align-items: stretch;
  }

  &-brand & {
    &-brandTitle {
      display: flex;
      align-items: center;
      font-weight: tnk-font-weight('bold');
      font-size: tnk-font-size('large');
      color: inherit;
      text-decoration: none;
      padding-left: tnk-spacing('base');
      padding-right: tnk-spacing('base');
    }
  }

  &-nav {
    display: flex;
    flex-grow: 1;
  }
}
