@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/spacing';

.Menu {
  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &-item {
    padding: tnk-spacing('base');
  }
}
