@import './variables';

/// Generate all elevation classes.
///
@mixin amb-create-elevation-classes() {
  @for $i from 1 through $amb-elevation-max-level {
    $elevation-level: $i;

    .Elevation-#{$i} {
      @include amb-create-elevation($elevation-level);
    }
  }
}

@mixin amb-create-elevation(
  $level: $amb-elevation-level,
  $opacity: $amb-elevation-box-shadow-color-opacity,
  $color: $amb-elevation-box-shadow-color-value
) {
  $elevation-color: $color;
  $elevation-level: $level;
  $elevation-opacity: $opacity;

  $elevation-offset-x: $amb-elevation-box-shadow-offset-x;
  $elevation-offset-y: $amb-elevation-box-shadow-offset-y;
  $elevation-spread: $amb-elevation-box-shadow-spread;
  $elevation-blur: $amb-elevation-box-shadow-blur;

  $elevation-values-list: $elevation-offset-x $elevation-offset-y $elevation-blur $elevation-spread;

  // Update each elevation values (offset-x, y, spread and blur) with $elevation-level value.
  $updated-elevation-values: () !default;
  @each $var in $elevation-values-list {
    $var: $var * $elevation-level;
    $updated-elevation-values: append($updated-elevation-values, $var);
  }

  $elevation-box-shadow-color: rgba(black, $elevation-opacity);
  $elevation-box-shadow: append($updated-elevation-values, $elevation-box-shadow-color) !default;

  // Generate the correct box-shadow value based on the calculation above
  box-shadow: $elevation-box-shadow;
}
