@import '@amar-ui-web/color/scss/variables';
@import './variables';

@mixin amb-create-banner-classes() {
  .Banner {
    @include amb-add-banner-base-styles();
    @include amb-append-banner-color-variants();
  }
}

@mixin amb-add-banner-base-styles() {
  padding: amb-spacing('base');
}

@mixin amb-append-banner-color-variants() {
  @each $color-theme, $color-value in $amb-color-themes {
    &--#{$color-theme} {
      @include amb-append-banner-color-shade-variants($color-theme);

      background-color: $color-value;
      color: amb-color-contrast($color-value);
    }
  }
}

//*/
/// Generates multiple shade variants from any given $color-theme.
///
/// @access private
/// @param {String} $color-theme (e.g 'primary', 'secondary')
//*/
@mixin amb-append-banner-color-shade-variants($color-theme) {
  @include amb-append-color-shade-variants($color-type: 'background', $color-theme: $color-theme);
}
