$limeade: #48a800;
$blue-ribbon: #005fff;
$trinidad: #e54206;

$blue: #1564ec;
$green: #007200;
$red: #dd1717;
$yellow: #ffd500;
$dark-yellow: #8e6a10;
$light-yellow: #fef9e5;
$light-red: #ffeaec;
$light-green: #eff9e6;
$light-blue: #e2f3ff;
$gray: #cdd0d6;

$black: #000000;
$white: #ffffff;
