$limeade: #48a800;
$blue-ribbon: #005fff;
$trinidad: #e54206;

$blue: #0079ff;
$green: #08b800;
$red: #dd1717;
$yellow: #ffd500;
$gray: #cdd0d6;
$gray-dark: #64686e;
$gray-darker: #25282b;

$black: #000000;
$white: #ffffff;
