$primary: #48a800;
$secondary: #005fff;
$tertiary: #e54206;

$blue: #1564ec;
$light-blue: #f2f9ff;
$green: #007200;
$light-green: #eff9e6;
$red: #dd1717;
$light-red: #ffeaec;
$yellow: #ffd500;
$light-yellow: #fef9e5;
$dark-yellow: #8e6a10;
$neutral: #cdd0d6;

$black: #000000;
$white: #ffffff;
