@import './variables';

@mixin amb-create-text-color-classes() {
  .Color {
    @include amb-create-color-themes($property: 'color');
    @include amb-create-color-accents($property: 'color');
    @include amb-create-neutrals($property: 'color');
    @include amb-create-color-helpers($property: 'color');
  }
}

@mixin amb-create-bg-color-classes() {
  .BackgroundColor,
  .BgColor {
    @include amb-create-color-themes($property: 'background-color');
    @include amb-create-color-accents($property: 'background-color');
    @include amb-create-neutrals($property: 'background-color');
    @include amb-create-color-helpers($property: 'background-color');
  }
}

@mixin amb-create-color-themes($property) {
  @each $color-theme, $color-theme-value in $amb-color-theme-map {
    &-#{$color-theme} {
      #{$property}: $color-theme-value !important;

      @if $property == 'background-color' {
        color: amb-color-contrast($color-theme-value);
      }

      // Creates color variants for the color theme
      @include amb-append-color-shade-variants($property, $color-theme-value);
    }
  }
}

@mixin amb-create-color-accents($property) {
  @each $color-accent, $color-accent-value in $amb-color-accent-map {
    &-#{$color-accent} {
      #{$property}: $color-accent-value !important;

      @if $property == 'background-color' {
        color: amb-color-contrast($color-accent-value);
      }

      // Creates color variants for the color theme
      @include amb-append-color-shade-variants($property, $color-accent-value);
    }
  }
}

@mixin amb-create-neutrals($property) {
  @each $level, $color-hex in $amb-neutral-map {
    &-neutral-#{$level} {
      #{$property}: $color-hex !important;

      @if $property == 'background-color' {
        color: amb-color-contrast($color-hex);
      }
    }
  }
}

@mixin amb-append-color-shade-variants($property, $color-value) {
  @for $shade-index from 1 through 100 {
    @if $shade-index % 10 == 0 {
      $color-shade-value: amb-color-shade($color-value, $shade-index);

      &-#{$shade-index} {
        #{$property}: $color-shade-value !important;

        @if $property == 'background-color' {
          color: amb-color-contrast($color-shade-value);
        }
      }
    }
  }
}

@mixin amb-create-color-helpers($property) {
  &-transparent {
    #{$property}: transparent !important;
  }
}
