@import "./color-palletes";
@import "./functions";

///
$amb-primary: $limeade !default;
$amb-secondary: $blue-ribbon !default;
$amb-tertiary: $trinidad !default;
$amb-success: $green !default;
$amb-danger: $red !default;
$amb-warning: $yellow !default;
$amb-info: $blue !default;

/// Shade of neutral color.
///
$amb-neutral: $gray !default;
$amb-neutral-10: tint($amb-neutral, 80%);
$amb-neutral-20: tint($amb-neutral, 60%);
$amb-neutral-30: tint($amb-neutral, 40%);
$amb-neutral-40: tint($amb-neutral, 20%);
$amb-neutral-50: $amb-neutral;
$amb-neutral-60: shade($amb-neutral, 20%);
$amb-neutral-70: shade($amb-neutral, 40%);
$amb-neutral-80: shade($amb-neutral, 60%);
$amb-neutral-90: shade($amb-neutral, 80%);

/// Map variables for color themes.
///
$amb-color-theme-map: () !default;
$amb-color-theme-map: map-merge(
  (
    "primary": $amb-primary,
    "secondary": $amb-secondary,
    "tertiary": $amb-tertiary,
    "success": $amb-success,
    "warning": $amb-warning,
    "danger": $amb-danger,
    "info": $amb-info,
    "neutral": $amb-neutral,
    "light": $amb-neutral-30,
    "lighter": $amb-neutral-10,
    "dark": $amb-neutral-80,
    "darker": $amb-neutral-90,
  ),
  $amb-color-theme-map
);
