@import './color-palletes';
@import './functions';

$amb-color-accent-map: () !default;
$amb-color-accent-map: map-merge(
  (
    'blue': $blue,
    'lightblue': $light-blue,
    'green': $green,
    'lightgreen': $light-green,
    'red': $red,
    'lightred': $light-red,
    'yellow': $yellow,
    'darkyellow': $dark-yellow,
    'lightyellow': $light-yellow,
  ),
  $amb-color-accent-map
);

$amb-neutral: $neutral;
$amb-neutral-10: #fafafa !default;
$amb-neutral-20: #f0f0f1 !default;
$amb-neutral-30: amb-color-shade($amb-neutral, 30) !default;
$amb-neutral-40: amb-color-shade($amb-neutral, 40) !default;
$amb-neutral-50: $amb-neutral !default;
$amb-neutral-60: #a1a8ae !default;
$amb-neutral-70: amb-color-shade($amb-neutral, 70) !default;
$amb-neutral-80: #64686e !default;
$amb-neutral-90: amb-color-shade($amb-neutral, 90) !default;
$amb-neutral-100: #25282b !default;

$amb-neutral-map: () !default;
$amb-neutral-map: map-merge(
  (
    10: $amb-neutral-10,
    20: $amb-neutral-20,
    30: $amb-neutral-30,
    40: $amb-neutral-40,
    50: $amb-neutral-50,
    60: $amb-neutral-60,
    70: $amb-neutral-70,
    80: $amb-neutral-80,
    90: $amb-neutral-90,
    100: $amb-neutral-100,
  ),
  $amb-neutral-map
);

$amb-color-theme-map: () !default;
$amb-color-theme-map: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'success': $green,
    'positive': $green,
    'warning': $yellow,
    'caution': $yellow,
    'alert': $red,
    'danger': $red,
    'negative': $red,
    'info': $blue,
    'neutral': $amb-neutral,
    'light': $amb-neutral-40,
    'lighter': $amb-neutral-10,
    'dark': $amb-neutral-80,
    'darker': $amb-neutral-100,
    'lightblue': $light-blue,
  ),
  $amb-color-theme-map
);
