@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/elevation/scss/mixins';

.MainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 10;

  height: 5em;
  font-weight: amb-font-weight('medium');
  padding-left: amb-spacing('base');
  padding-right: amb-spacing('base');

  background-color: amb-color-theme('darker');
  color: amb-color-contrast(amb-color-theme('darker'));

  @include amb-create-elevation();

  // Main Brand
  &-brand {
    display: flex;
    align-items: stretch;
  }

  &-brand & {
    &-brandTitle {
      display: flex;
      align-items: center;
      padding-left: amb-spacing('base');
      padding-right: amb-spacing('base');
      color: inherit;
      text-decoration: none;
      font-size: amb-font-size('large');
    }
  }

  &-nav {
    display: flex;
    flex-grow: 1;
  }
}
