@import '@amar-ui-web/color/scss';
@import '@amar-ui-web/shape/scss';

@mixin amb-create-switch-classes() {
  .Switch {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 36px;
    cursor: pointer;

    &-input {
      display: none;
      cursor: inherit;

      &:checked ~ .Switch-thumb {
        transform: translateX(100%) translateY(-50%);
      }

      &:checked ~ .Switch-track {
        background-color: amb-color-theme('primary');
      }
    }

    &-thumb {
      position: absolute;
      cursor: inherit;
      transition: all 100ms ease-in-out;
      top: 50%;
      left: 0;
      transform: translateX(0) translateY(-50%);
      border-radius: amb-border-radius('round');
      background-color: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      height: 20px;
      width: 20px;
      z-index: 2;
    }

    &-track {
      position: absolute;
      top: 50%;
      left: 0;
      cursor: inherit;
      border-radius: amb-border-radius('round');
      transform: translateY(-50%);
      background-color: $amb-neutral-40;
      height: 14px;
      width: 36px;
      z-index: 1;
    }
  }
}
