@import '@amar-ui-web/shape/scss/variables';
@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/spacing/scss/functions';
@import './variables';

@mixin amb-create-input-classes() {
  .Input,
  .Textarea {
    @include amb-input-base-styles();
    @include amb-append-input-state-variants();
    @include amb-append-input-color-theme-variants();
    @include amb-append-input-size-variants();
    @include amb-append-input-shape-variants();
  }
}

@mixin amb-input-base-styles() {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  line-height: $amb-input-line-height;
  font-family: $amb-input-font-family;
  font-size: $amb-input-font-size;
  padding: $amb-input-spacing;
  transition: $amb-input-transition;
  background-color: $amb-input-bg-color;
  border-style: solid;
  border-width: 1px;
  border-color: $amb-input-border-color;
  border-radius: $amb-input-border-radius;
  outline: none;
  white-space: normal;
}

@mixin amb-append-input-state-variants($color-theme: 'base') {
  @include amb-append-input-focused-state($color-theme);
  @include amb-append-input-hovered-state($color-theme);
  @include amb-append-input-disabled-state();
}

@mixin amb-append-input-focused-state($color-theme) {
  $focused-border-color: '' !default;
  $focused-box-shadow: '' !default;

  @if $color-theme == 'base' {
    $focused-border-color: $amb-input-focused-border-color;
    $focused-box-shadow: $amb-input-focused-box-shadow;
  } @else {
    $focused-border-color: amb-theme-color($color-theme);
    $focused-box-shadow-color: amb-theme-color($color-theme);
    $focused-box-shadow-values: $amb-input-focused-box-shadow-values;
    $focused-box-shadow: $focused-box-shadow-values $focused-box-shadow-color;
  }

  @include amb-input-is-not-disabled() {
    &:focus,
    &.is-focused {
      border-color: $focused-border-color;
      box-shadow: $focused-box-shadow;
    }
  }
}

@mixin amb-append-input-hovered-state($color-theme) {
  @include amb-input-is-not-disabled() {
    &:hover,
    &.is-hovered {
      border-color: $amb-input-hovered-border-color;
    }
  }
}

@mixin amb-append-input-disabled-state() {
  &:disabled,
  &.is-disabled {
    background-color: $amb-input-disabled-background;
    cursor: not-allowed;
  }
}

/**
 * Append color theme variant classes.
 */
@mixin amb-append-input-color-theme-variants() {
  @each $color-theme, $color-theme-value in $amb-color-theme-map {
    &--#{$color-theme} {
      @include amb-append-input-state-variants($color-theme);

      border-color: $color-theme-value;
    }
  }
}

@mixin amb-append-input-size-variants() {
  @each $size-name, $size-value in $amb-font-size-map {
    &--#{$size-name} {
      font-size: amb-font-size($size-name);
      padding: amb-spacing($size-name);
    }
  }
}

@mixin amb-append-input-shape-variants() {
  &--round {
    border-radius: $amb-input-rounded-border-radius;
  }
}

@mixin amb-input-is-not-disabled() {
  &:not(:disabled):not(.is-disabled) {
    @content;
  }
}

@mixin amb-create-input-group-classes() {
  .InputGroup {
    @include amb-input-group-base-styles();
    @include amb-append-input-group-parts();
  }
}

@mixin amb-input-group-base-styles() {
  display: flex;
  flex-direction: row;

  > * {
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: amb-border-radius('base');
    border-bottom-left-radius: amb-border-radius('base');
  }

  > *:last-child {
    border-top-right-radius: amb-border-radius('base');
    border-bottom-right-radius: amb-border-radius('base');
  }
}

@mixin amb-append-input-group-parts() {
  @include amb-append-input-group-addon();
}

@mixin amb-append-input-group-addon() {
  &-addon {
    @include amb-input-group-addon-base-styles();
    @include amb-append-input-group-color-theme-variants();
  }
}

@mixin amb-input-group-addon-base-styles() {
  display: flex;
  align-items: center;
  padding: 0 amb-spacing('base');
  background-color: amb-color-theme('light');
}

@mixin amb-append-input-group-color-theme-variants() {
  @each $color-theme, $color-theme-value in $amb-color-theme-map {
    &--#{$color-theme} {
      background-color: $color-theme-value !important;
      color: amb-color-contrast($color-theme-value) !important;
    }
  }
}
