@import '@amar-ui-web/shape/scss/variables';
@import '@amar-ui-web/typography/scss/variables';

$amb-input-font-size: $amb-font-size !default;
$amb-input-font-family: tnk-font-family('sans-serif') !default;

$amb-input-bg-color: $white !default;
$amb-input-fg-color: tnk-color-contrast($amb-input-bg-color) !default;

$amb-input-border-style: solid !default;
$amb-input-border-width: 1px !default;
$amb-input-border-color: tnk-color-theme-shade('neutral', 60) !default;
$amb-input-border-radius: tnk-border-radius('base') !default;

$amb-input-spacing-y: tnk-spacing('xsmall') !default;
$amb-input-spacing-x: tnk-spacing('base') !default;
$amb-input-spacing: $amb-input-spacing-y $amb-input-spacing-x;

$amb-input-line-height: $amb-line-height !default;

$amb-input-transition: all 250ms ease-in-out;

$amb-input-hovered-border-color: tnk-color-theme('primary');
$amb-input-focused-border-color: tnk-color-theme('primary');

$amb-input-focused-box-shadow-offset-y: 0 !default;
$amb-input-focused-box-shadow-offset-x: 0 !default;
$amb-input-focused-box-shadow-offsets: $amb-input-focused-box-shadow-offset-y
  $amb-input-focused-box-shadow-offset-x !default;

$amb-input-focused-box-shadow-blur: 0 !default;
$amb-input-focused-box-shadow-spread: 3px !default;
$amb-input-focused-box-shadow-color: tnk-color-theme-opacity(primary, 0.3);
$amb-input-focused-box-shadow-values: $amb-input-focused-box-shadow-offsets
  ($amb-input-focused-box-shadow-blur) ($amb-input-focused-box-shadow-spread) !default;

$amb-input-focused-box-shadow: $amb-input-focused-box-shadow-values
  ($amb-input-focused-box-shadow-color) !default;

$amb-input-disabled-background: tnk-color-theme('lighter');

$amb-input-rounded-border-radius: tnk-border-radius('base');
