$amb-spacing-type-map: (
  'margin': 'mg',
  'padding': 'pd',
);

$amb-spacing-direction-map: ('top', 'left', 'right', 'bottom');

$amb-spacing-axes: (
  'x': (
    'left',
    'right',
  ),
  'y': (
    'top',
    'bottom',
  ),
);
