@import '@amar-ui-web/core/helpers';
@import './functions';

$tnk-spacing: 1rem !default;
$tnk-spacings: () !default;
$tnk-spacings: map-merge(
  (
    '3xsmall': $tnk-spacing * 0.25,
    '2xsmall': $tnk-spacing * 0.5,
    'xsmall': $tnk-spacing * 0.75,
    'small': $tnk-spacing * 0.875,
    'base': $tnk-spacing,
    'large': $tnk-spacing * 1.25,
    'xlarge': $tnk-spacing * 1.5,
    '2xlarge': $tnk-spacing * 2,
    '3xlarge': $tnk-spacing * 3,
  ),
  $tnk-spacings
);

// prettier-ignore
$tnk-spacing-type-map: (
  "margin": "mg",
  "padding": "pd"
);

$tnk-spacing-direction-map: ('top', 'left', 'right', 'bottom');

// prettier-ignore
$tnk-spacing-axes: (
  "x": ("left", "right"),
  "y": ("top", "bottom")
);
