@import '@amar-ui-web/core/helpers';
@import './functions';

$amb-spacing: 1rem !default;
$amb-spacings: () !default;
$amb-spacings: map-merge(
  (
    '3xsmall': $amb-spacing * 0.25,
    '2xsmall': $amb-spacing * 0.5,
    'xsmall': $amb-spacing * 0.75,
    'small': $amb-spacing * 0.875,
    'base': $amb-spacing,
    'large': $amb-spacing * 1.25,
    'xlarge': $amb-spacing * 1.5,
    '2xlarge': $amb-spacing * 2,
    '3xlarge': $amb-spacing * 3,
  ),
  $amb-spacings
);

// prettier-ignore
$amb-spacing-type-map: (
  "margin": "mg",
  "padding": "pd"
);

$amb-spacing-direction-map: ('top', 'left', 'right', 'bottom');

// prettier-ignore
$amb-spacing-axes: (
  "x": ("left", "right"),
  "y": ("top", "bottom")
);
