@import '@amar-ui-web/elevation/scss/mixins';

.LinkCard {
  text-decoration: none;

  .Card {
    @include amb-create-elevation($level: 2, $opacity: 0.1);
    transition: all 250ms ease;
  }

  &:hover {
    .Card {
      @include amb-create-elevation($level: 4, $opacity: 0.2);
      transform: translateY(-2px);
    }
  }
}
