@import '@amar-ui-web/spacing/scss/variables';

.InputGroup {
  position: relative;

  &--hasExtraLeft & {
    &-extra {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      padding-left: amb-spacing('base');
      z-index: 1;
    }
  }

  &--hasExtraLeft {
    > .Input,
    > .Select {
      padding-left: calc(#{amb-spacing('base')} * 3);
    }
  }

  &--hasExtraRight & {
    &-extra {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
      padding-right: amb-spacing('base');
      z-index: 1;
    }
  }

  &--hasExtraRight {
    > .Input,
    > .Select {
      padding-right: calc(#{amb-spacing('base')} * 3);
    }
  }
}
