@import '@amar-ui-web/core/helpers';
@import '@amar-ui-web/color/scss/variables';
@import '@amar-ui-web/flex/scss/variables';
@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/responsive/scss/mixins';

.Docs {
  display: flex;
  flex-direction: row;

  &-sidebar {
    position: fixed;
    left: 0;
    transition: all 250ms ease-in-out;
    flex-direction: column;
    padding: amb-spacing('base');
    padding-bottom: 10em;
    height: 100%;

    overflow: auto;
    background-color: white;
    border-right: solid 1px amb-color-theme('light', 30);

    display: none;
    width: 0;

    @include amb-responsive-media('lg') {
      display: flex;
      width: rem(300px);
    }
  }

  &-content {
    transition: all 250ms ease-in-out;
    flex-grow: 1;
    padding-left: 0;

    @include amb-responsive-media('lg') {
      padding-left: rem(300px);
    }
  }

  &-content & {
    &-article {
      padding: amb-spacing('base');

      @include amb-responsive-media('lg') {
        padding: 5em 10em;
      }
    }

    &-articleHeadline {
      padding-bottom: amb-spacing('xlarge');
    }

    &-articleMarkdown {
    }
  }
}
