@import '@amar-ui-web/core/helpers';
@import '@amar-ui-web/spacing/scss/mixins';
@import '@amar-ui-web/shape/scss/mixins';
@import '@amar-ui-web/color/scss/mixins';
@import '@amar-ui-web/typography/scss/mixins';
@import '@amar-ui-web/button/scss/mixins';
@import './variables';

@mixin amb-create-alert-box-module() {
  .AlertBox {
    display: flex;
    justify-content: space-between;
    border-radius: amb-border-radius('base');
    font-size: amb-font-size('small');

    &-text,
    &-action {
      padding: amb-spacing('base');
    }

    &-action {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      text-align: right;
      font-weight: amb-font-weight('bold');
      color: inherit;
      cursor: pointer;
    }

    @each $color-theme, $properties in $amb-alert-box-themes {
      &--#{$color-theme} {
        @include create-properties($properties);
      }
    }
  }
}
