@import '@amar-ui-web/color/scss/variables';

$amb-alert-box-themes: () !default;
$amb-alert-box-themes: map-merge(
  (
    'success': (
      color: amb-color-accent('green'),
      background-color: amb-color-accent('lightgreen'),
    ),
    'warning': (
      color: amb-color-accent('darkyellow'),
      background-color: amb-color-accent('lightyellow'),
    ),
    'danger': (
      color: amb-color-accent('red'),
      background-color: amb-color-accent('lightred'),
    ),
    'info': (
      color: amb-color-accent('blue'),
      background-color: amb-color-accent('lightblue'),
    ),
  ),
  $amb-alert-box-themes
);
