@import "./variables";

@mixin amb-create-image-classes() {
  .Image {
    @include amb-append-image-base-styles();
  }

  @include amb-append-object-fit-variants();
  @include amb-append-object-position-variants();
}

@mixin amb-append-image-base-styles() {
  position: relative;
  overflow: hidden;

  > img {
    display: flex;
    height: auto;
    width: 100%;
  }
}

@mixin amb-append-object-fit-variants() {
  .ObjectFit {
    @each $object-fit in $amb-object-fit-map {
      &-#{$object-fit} {
        object-fit: $object-fit !important;
      }
    }
  }
}

@mixin amb-append-object-position-variants() {
  .ObjectPosition {
    @each $object-position in $amb-object-position-map {
      &-#{$object-position} {
        object-position: $object-position !important;
      }
    }
  }
}
