@import '@amar-ui-web/core/helpers';
@import './variables';

@mixin amb-initialize-typography-module() {
  @include amb-create-heading-classes();
  @include amb-create-typography-style-classes();
  @include amb-create-typography-utility-classes();
}

@mixin amb-create-heading-classes() {
  @each $heading, $heading-size in $amb-heading-map {
    $heading-index: index($amb-heading-map, ($heading $heading-size));

    h#{$heading-index},
    .Heading-#{$heading-index} {
      font-size: $heading-size;
    }
  }
}

@mixin amb-create-typography-utility-classes() {
  @include amb-create-font-size-classes();
  @include amb-create-font-weight-classes();
  @include amb-create-text-transform-classes();
  @include amb-create-line-height-classes();
  @include amb-create-letter-spacing-classes();
  @include amb-create-text-alignment-classes();
}

@mixin amb-create-typography-style-classes() {
  @each $typography-style, $properties in $amb-typography-style-map {
    .Typography-#{$typography-style} {
      @include create-properties($properties);
    }
  }
}

@mixin amb-create-font-size-classes() {
  @each $font-size, $font-size-value in $amb-font-size-map {
    .FontSize-#{$font-size},
    .Font-#{$font-size} {
      font-size: $font-size-value !important;
    }
  }
}

@mixin amb-create-text-transform-classes() {
  @each $text-transform, $text-transform-value in $amb-text-transform-map {
    .Transform-#{$text-transform},
    .TextTransform-#{$text-transform} {
      text-transform: $text-transform-value !important;
    }
  }
}

@mixin amb-create-letter-spacing-classes() {
  @each $letter-spacing, $letter-spacing-value in $amb-letter-spacing-map {
    .Tracking-#{$letter-spacing},
    .LetterSpacing-#{$letter-spacing} {
      letter-spacing: $letter-spacing-value !important;
    }
  }
}

@mixin amb-create-line-height-classes() {
  @each $line-height, $line-height-value in $amb-line-height-map {
    .Leading-#{$line-height},
    .LineHeight-#{$line-height} {
      line-height: $line-height-value !important;
    }
  }
}

@mixin amb-create-font-weight-classes() {
  @each $font-weight-key, $font-weight-value in $amb-font-weight-map {
    .FontWeight-#{$font-weight-key} {
      font-weight: $font-weight-value !important;
    }
  }
}

@mixin amb-create-text-alignment-classes() {
  @each $text-alignment in $amb-text-alignment-map {
    .TextAlign-#{$text-alignment},
    .Align-#{$text-alignment} {
      text-align: $text-alignment;
    }
  }
}

@mixin amb-typography-style($style) {
  $properties: map-get($amb-typography-style-map, $style);

  @include create-properties($properties);
}
