$tnk-typeface-system-stack: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif !default;
$tnk-typeface-georgia-stack: Georgia, 'Times New Roman', serif !default;
$tnk-typeface-sf-mono-stack: SFMono-Regular, Menlo, Monaco, Consolas, 'Roboto Mono',
  'Liberation Mono', 'Courier New', monospace !default;
