@import '@amar-ui-web/core/helpers';
@import './functions';
@import './typefaces';

$amb-font-family-sans-serif: $amb-typeface-system-stack !default;
$amb-font-family-serif: $amb-typeface-georgia-stack !default;
$amb-font-family-monospace: $amb-typeface-sf-mono-stack !default;

$amb-font-families: () !default;
$amb-font-families: map-merge(
  (
    'sans-serif': $amb-font-family-sans-serif,
    'serif': $amb-font-family-serif,
    'monospace': $amb-font-family-monospace,
  ),
  $amb-font-families
);

$amb-font-size-map: () !default;
$amb-font-size-map: map-merge(
  (
    'xsmall': rem(12px),
    'small': rem(14px),
    'base': rem(16px),
    'medium': rem(18px),
    'large': rem(20px),
    'xlarge': rem(24px),
    '2xlarge': rem(28px),
    '3xlarge': rem(32px),
    '4xlarge': rem(40px),
    '5xlarge': rem(48px),
  ),
  $amb-font-size-map
);

$amb-base-font-size: amb-font-size('base');

$amb-headings: () !default;
$amb-headings: map-merge(
  (
    'h1': amb-font-size('4xlarge'),
    'h2': amb-font-size('3xlarge'),
    'h3': amb-font-size('2xlarge'),
    'h4': amb-font-size('xlarge'),
    'h5': amb-font-size('large'),
    'h6': amb-font-size('medium'),
  ),
  $amb-headings
);

$amb-font-weight: 400 !default;
$amb-font-weights: () !default;
$amb-font-weights: map-merge(
  (
    'thin': 100,
    'extra-light': 200,
    'ultra-light': 200,
    'light': 300,
    'normal': 400,
    'book': 400,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'semibold': 600,
    'demi-bold': 600,
    'bold': 700,
    'extra-bold': 800,
    'ultra-bold': 900,
    'heavy': 900,
    'black': 900,
    'ultra': 900,
    'ultra-black': 900,
    'extra-ultra': 900,
  ),
  $amb-font-weights
);

$amb-typography-style-map: () !default;
$amb-typography-style-map: map-merge(
  (
    'heading20': (
      font-size: amb-font-size('large'),
      font-weight: amb-font-weight('bold'),
    ),
    'heading24': (
      font-size: amb-font-size('xlarge'),
      font-weight: amb-font-weight('bold'),
    ),
    'bold14': (
      font-size: amb-font-size('small'),
      font-weight: amb-font-weight('bold'),
    ),
    'bold16': (
      font-size: amb-font-size('base'),
      font-weight: amb-font-weight('bold'),
    ),
    'regular14': (
      font-size: amb-font-size('small'),
      font-weight: amb-font-weight('regular'),
    ),
    'regular16': (
      font-size: amb-font-size('base'),
      font-weight: amb-font-weight('regular'),
    ),
    'caption12': (
      font-size: amb-font-size('xsmall'),
      font-weight: amb-font-weight('regular'),
    ),
  ),
  $amb-typography-style-map
);

$amb-line-height: 1.5 !default;
$amb-line-heights: () !default;
$amb-line-heights: map-merge(
  (
    'xsmall': $amb-line-height * 0.5,
    'small': $amb-line-height * 0.75,
    'base': $amb-line-height * 1,
    'large': $amb-line-height * 1.25,
    'xlarge': $amb-line-height * 1.5,
  ),
  $amb-line-heights
);

$amb-letter-spacing: 0px !default;
$amb-letter-spacings: () !default;
$amb-letter-spacings: map-merge(
  (
    '2xtight': $amb-letter-spacing - 1.5,
    'xtight': $amb-letter-spacing - 1,
    'tight': $amb-letter-spacing - 0.5,
    'base': $amb-letter-spacing,
    'loose': $amb-letter-spacing + 1,
    'xloose': $amb-letter-spacing + 1.5,
    '2xloose': $amb-letter-spacing + 2,
  ),
  $amb-letter-spacings
);

$amb-text-transforms: () !default;
$amb-text-transforms: map-merge(
  (
    'none': none,
    'uppercase': uppercase,
    'lowercase': lowercase,
    'capitalize': capitalize,
  ),
  $amb-text-transforms
);

$amb-text-alignment-map: ('left', 'center', 'right', 'justify') !default;
