@import '@amar-ui-web/core/helpers';
@import './functions';

/// Font families
$amb-font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif !default;
$amb-font-family-serif: Georgia, 'Times New Roman', serif !default;
$amb-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Roboto Mono',
  'Liberation Mono', 'Courier New', monospace !default;

$amb-font-family-map: () !default;
$amb-font-family-map: map-merge(
  (
    'sans-serif': $amb-font-family-sans-serif,
    'serif': $amb-font-family-serif,
    'monospace': $amb-font-family-monospace,
  ),
  $amb-font-family-map
);

/// Font sizes
$amb-font-size-map: () !default;
$amb-font-size-map: map-merge(
  (
    '2xsmall': rem(8px),
    'xsmall': rem(12px),
    'small': rem(14px),
    'base': rem(16px),
    'medium': rem(18px),
    'large': rem(20px),
    'xlarge': rem(24px),
    '2xlarge': rem(28px),
    '3xlarge': rem(32px),
    '4xlarge': rem(40px),
    '5xlarge': rem(48px),
  ),
  $amb-font-size-map
);
$amb-base-font-size: amb-font-size('base');

/// Headings
$amb-heading-map: () !default;
$amb-heading-map: map-merge(
  (
    'h1': amb-font-size('4xlarge'),
    'h2': amb-font-size('3xlarge'),
    'h3': amb-font-size('2xlarge'),
    'h4': amb-font-size('xlarge'),
    'h5': amb-font-size('large'),
    'h6': amb-font-size('medium'),
  ),
  $amb-heading-map
);

$amb-font-weight-map: () !default;
$amb-font-weight-map: map-merge(
  (
    'thin': 100,
    'extra-light': 200,
    'ultra-light': 200,
    'light': 300,
    'normal': 400,
    'book': 400,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'semibold': 600,
    'demi-bold': 600,
    'bold': 700,
    'extra-bold': 800,
    'ultra-bold': 900,
    'heavy': 900,
    'black': 900,
    'ultra': 900,
    'ultra-black': 900,
    'extra-ultra': 900,
  ),
  $amb-font-weight-map
);
$amb-base-font-weight: amb-font-weight('base');

$amb-typography-style-map: () !default;
$amb-typography-style-map: map-merge(
  (
    'heading20': (
      font-size: amb-font-size('large'),
      font-weight: amb-font-weight('bold'),
    ),
    'heading24': (
      font-size: amb-font-size('xlarge'),
      font-weight: amb-font-weight('bold'),
    ),
    'bold14': (
      font-size: amb-font-size('small'),
      font-weight: amb-font-weight('bold'),
    ),
    'bold16': (
      font-size: amb-font-size('base'),
      font-weight: amb-font-weight('bold'),
    ),
    'regular14': (
      font-size: amb-font-size('small'),
      font-weight: amb-font-weight('regular'),
    ),
    'regular16': (
      font-size: amb-font-size('base'),
      font-weight: amb-font-weight('regular'),
    ),
    'caption12': (
      font-size: amb-font-size('xsmall'),
      font-weight: amb-font-weight('regular'),
    ),
  ),
  $amb-typography-style-map
);

/// Line heights
$amb-line-height-map: () !default;
$amb-line-height-map: map-merge(
  (
    'xsmall': 1,
    'small': 1.25,
    'base': 1.5,
    'large': 1.75,
    'xlarge': 2,
  ),
  $amb-line-height-map
);
$amb-base-line-height: amb-line-height('base');

/// Letter spacings/Tracking
$amb-letter-spacing: 0px !default;
$amb-letter-spacing-map: () !default;
$amb-letter-spacing-map: map-merge(
  (
    '2xtight': rem(-2px),
    'xtight': rem(-1px),
    'tight': rem(-0.5px),
    'base': 0,
    'loose': rem(0.5px),
    'xloose': rem(1px),
    '2xloose': rem(2px),
  ),
  $amb-letter-spacing-map
);

$amb-text-transform-map: () !default;
$amb-text-transform-map: map-merge(
  (
    'none': none,
    'uppercase': uppercase,
    'lowercase': lowercase,
    'capitalize': capitalize,
  ),
  $amb-text-transform-map
);

$amb-text-alignment-map: () !default;
$amb-text-alignment-map: map-merge(
  ('left', 'center', 'right', 'justify'),
  $amb-text-alignment-map
) !default;
