@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/shape/scss/variables';

.CodeBlock {
  position: relative;
  padding: amb-spacing('medium');
  font-size: amb-font-size('small');
  font-family: amb-font-family('monospace');
  border-radius: amb-border-radius('base');
  overflow: auto;
  margin: 0;
}
