@import '@tunaiku-ui/shape/scss/variables';
@import '@tunaiku-ui/spacing/scss/variables';

$tnk-dialog-border-radius: tnk-border-radius('large') !default;
$tnk-dialog-backdrop-bg-color: rgba(black, 0.3) !default;
$tnk-dialog-block-padding: tnk-spacing('base') !default;

$tnk-dialog-box-elevation-opacity: 0.2 !default;
$tnk-dialog-box-elevation-level: 2 !default;

$tnk-dialog-box-min-width: 20em !default;
$tnk-dialog-box-max-width: 20em !default;
