@import '@amar-ui-web/spacing/scss/variables';
@import '@amar-ui-web/typography/scss/variables';
@import '@amar-ui-web/shape/scss/variables';
@import '@amar-ui-web/responsive/scss/mixins';

.CodeBlock {
  border-radius: amb-border-radius('xlarge');
  font-size: amb-font-size('small');
  overflow: hidden;

  > pre {
    padding: amb-spacing('base');
    font-family: amb-font-family('monospace');
    word-wrap: break-word;
    max-width: 100%;
    overflow: auto;
  }
}
