@import './variables';

@mixin amb-create-indicator-classes() {
  .Indicator{
    @include amb-indicator-alignment();
    display: flex !important;
    justify-content: flex-start !important;


    &-point {
      @include amb-indicator-point-size();
      display: inline-block;
      background-color: $neutral;
      border-radius: 50px;
    }
  }
}

@mixin amb-indicator-alignment() {
  @each $alignment, $alignment-value in $amb-content-alignment-types {
    &--#{$alignment} {
      justify-content: $alignment-value !important;
    }
  }
}

@mixin amb-indicator-point-size() {
  @each $size, $properties in $amb-indicator-point-size-map {
    &--#{$size} {
      @include create-properties($properties);

      &.is-active{
        @include amb-indicator-point-active-size($size);
        background-color: $info;
      }
    }
  }
}

@mixin amb-indicator-point-active-size($size) {
  @each $style, $properties in $amb-indicator-point-active-size-map {
    @if $style == $size {
      @include create-properties($properties);
    }
  }
}