@import '@amar-ui-web/core/helpers';
@import '@amar-ui-web/color/scss';
@import '@amar-ui-web/shape/scss';
@import '@amar-ui-web/spacing/scss';
@import './variables';

@mixin amb-create-indicator-classes() {
  .Indicator{
    @include amb-indicator-alignment();
    display: flex !important;
    justify-content: center !important;


    &-point {
      @include amb-indicator-point-size();
      display: inline-block;
      margin-right: amb-spacing('xsmall');
      background-color: amb-neutral();
      border-radius: amb-border-radius('round');
      cursor: pointer;
    }
  }
}

@mixin amb-indicator-alignment() {
  @each $alignment, $alignment-value in $amb-content-alignment-types {
    &--#{$alignment} {
      justify-content: $alignment-value !important;
    }
  }
}

@mixin amb-indicator-point-size() {
  @each $size, $properties in $amb-indicator-point-size-map {
      @include create-properties($properties);

      &:hover{
        @include amb-indicator-point-active-size($size);
      }

      &.is-active{
        @include amb-indicator-point-active-size($size);
        
      }
  }
}

@mixin amb-indicator-point-active-size($size) {
  @each $style, $properties in $amb-indicator-point-active-size-map {
    @if $style == $size {
      @include create-properties($properties);
      background-color: amb-color-theme('info');
      border-radius: amb-border-radius('base');
    }
  }
}