$amb-content-alignment-types: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
);

$amb-indicator-point-size-map: () !default;
$amb-indicator-point-size-map: map-merge(
  (
    'base': (
      width: 4px,
      height: 4px,
    ),
  ),
 $amb-indicator-point-size-map 
);

$amb-indicator-point-active-size-map: () !default;
$amb-indicator-point-active-size-map: map-merge(
  (
    'base': (
      width: 10px,
      height: 4px,
    ),
  ),
 $amb-indicator-point-active-size-map 
);